:root {
    --primary: #46515A;
    --primary-light: #6a7d83;
    --primary-dark:#313b3f;
    --primary-darkest: #252a2c;
    --secondary: #5a4f46;
    --secondary-light: #745c49;
    --secondary-dark: #3f3731;
    --font: #f1fbff;
}